.list-group {
    margin-left: 10em;
    margin-right: 60em;
}

.dropdown-item {
    color: black;
}

.linkFontWhite {
    text-decoration: none;
    color: white;
}

#addTaskForm,#addListForm {
    margin-top: 1.5em;
    margin-left: 10em;
}

.formlabels {
    font-size:30px;
}